<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />

        <title>Basin</title>
        <meta name="robots" content="noindex,follow" />

        <link rel="stylesheet" type="text/css" href="assets/style/normalize.css" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,500" />
        <link rel="stylesheet" type="text/css" href="assets/style/page.css" />
    </head>
    <body>
        <section id="vertical-wrapper">
            <section id="horizontal-wrapper">
                <article class="panel">
                    <h1 class="header">Basin Network</h1>
                    <main class="inner">
                        <p>You have reached <strong><%= name %></strong>, one of our public <strong><%= type %></strong> servers.</p>
                        <p>This server does, however, not serve any web content besides this page. Please refer to our website for more information on the project.</p>

                        <footer>
                            <a class="button" href="https://www.basinmc.org">Back to Safety</a>
                        </footer>
                    </main>
                </article>
            </section>
        </section>
    </body>
</html>
